<!DOCTYPE html>
<html>
<head>
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <%- include('../partials/head'); %>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<form action="/categories/editCategory/<%= id %>" method="POST" enctype="multipart/form-data">
    <div>
        <label for="catName">Category Name:</label>
        <input type="text" id="catName" name="catName" value="<%= cats.categoryName %>" required>
        <label for="catId">Category ID:</label>
        <input type="text" id="catId" value=<%= id %> readonly><br>
        <label for="catImage">Category Thumbnail:</label>
        <input type="file" name="catImage" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>